# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\CISISDEPARTMENT\Preface.Master.IS.2020.2021\{Dr Samaa } Selected Topics\Software Engineering\Ch 5 Design with Patterns\Pub-Sub Pattern\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
